html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #232425;
}

.centerAbs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
}

.centerAbsX {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 0;
  margin: 0;
}

.centerAbsY {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  padding: 0;
  margin: 0;
}

.siteContainer {
  min-height: 100vh;
  display: grid;
  grid-template-rows: minmax(50px, 0.1fr) 1fr minmax(50px, 0.1fr);
  grid-template-columns: 1fr;
  position: relative;
  font-family: sans-serif;
}

.siteContainer > * {
  grid-column: 1 / 2;
  padding: 5px;
}

.header {
  background-color: #505152;
  color: white;
  position: sticky;
  top: 0;
  padding-left: 10px;
}

.footer {
  background-color: #505152;
  color: white;
  position: sticky;
  bottom: 0;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1px;
  grid-template-rows: 1fr 30px;
  width: 70%;
  border-radius: 8px;
  overflow: hidden;
  background-color: #505152;
}

form > div.fileInputContainer {
  grid-row: 1 / 2;
  position: relative;
  min-height: 10vh;
  color: white;
  padding: 5px;
  cursor: pointer;
}

form > div.fileInputContainer:hover, form > div.fileInputContainer:focus  {
  box-shadow: 0 0 0 2px gray inset;
  border-radius: 8px;
}

form > div.submitBar {
  position: relative;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}

form > div > input.submitInput {
  background-color: limegreen;
  border: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  color: blakc;
}

.fileInputContainer h1 {
  text-align: center;
  font-size: 1em;
  padding-top: 20vh;
}

.fileInputContainer h2 {
  text-align: center;
  font-size: 0.8em;
  padding-bottom: 20vh;
}

.card {
  background-color: #FFF;
  padding: 80px 100px;
  border-radius: 15px;
  padding-bottom: 125px;
}

.card * {
  background: none;
  color: black;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 255;
  width: 100%;
  height: 100%;
  background-color: #232425;
}

.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#87BBF5, #6FC0DE);
  clip-path: circle(30% at right);
}

.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#539155, #9BCCBE);
  clip-path: circle(25% at 25% 25%);
}

.glassCard h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 280px;
  font-size: 28px;
}

.glassCard p {
  text-align: center;
  width: 100%
}

.glassCard {
  backdrop-filter: blur(5px);
  background-color: rgba(150, 150, 150, 0.3);
  padding: 30px;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-top: 1px solid rgba(200, 200, 200, 1);
  border-left: 1px solid rgba(200, 200, 200, 1);
  z-index: 255;
  font-family: 'Montserrat', sans-serif;
  border-radius: 30px;
}

.glassCard img {
  width: 30%;
  transition: 100ms;
  border-radius: 50%;
}

.glassCard img:hover {
  width: 32%;
  transition: 100ms;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
  background: none;
}

.glassCard a {
  text-decoration: none;
  color: #84b9e0;
}
