html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #232425;
}

.centerAbs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
}

.centerAbsX {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 0;
  margin: 0;
}

.siteContainer {
  min-height: 100vh;
  display: grid;
  grid-template-rows: minmax(50px, 0.1fr) 1fr;
  grid-template-columns: 1fr;
  position: relative;
  font-family: sans-serif;
}

.siteContainer > * {
  grid-column: 1 / 2;
  padding: 5px;
}

.header {
  background-color: #505152;
  color: white;
  position: sticky;
  top: 0;
  text-align: center;
  z-index: 2;
  height: 46px;
  opacity: 0.98;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 30px;
  width: 70%;
  overflow: hidden;
  z-index: 2;
  grid-gap: 5px;
  vertical-align: middle;
}

form > div.fileInputContainer {
  grid-row: 1 / 2;
  position: relative;
  min-height: 10vh;
  color: white;
  padding: 5px;
  cursor: pointer;
}

form > div.submitBar {
  position: relative;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}

form > div > input.submitInput {
  background-color: limegreen;
  border: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  color: black;
  border-radius: 8px;
}

.fileInputContainer h1 {
  text-align: center;
  font-size: 1em;
  padding-top: 20vh;
}

.fileInputContainer h2 {
  text-align: center;
  font-size: 0.8em;
  padding-bottom: 20vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #232425;
  overflow: scroll;
}

.overlay::before, .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay::after, .content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay::after {
  background: linear-gradient(#539155, #9BCCBE);
  clip-path: circle(25% at 25% 25%);
}

.overlay::before {
  background: linear-gradient(#87BBF5, #6FC0DE);
  clip-path: circle(30% at right);
}

.content::after {
  background: linear-gradient(#db5ed7, #8a5edb);
  clip-path: circle(25% at 10% 80%);
}

.content::before {
  background: linear-gradient(#f56c42, #ebaf78);
  clip-path: circle(30% at 90% 25%);
}

.glassCard h1:not(.fileInputContainer h1) {
  text-align: center;
  width: 100%;
  margin-bottom: 250px;
  font-size: 28px;
  border-radius: 30px !important;
  color: white;
}

.glassCard p {
  text-align: center;
  width: 100%
}

.glassCard {
  backdrop-filter: blur(5px);
  background-color: rgba(150, 150, 150, 0.3);
  padding: 30px;
  z-index: 1;
  border-radius: 20px;
  border-top: 1px solid rgba(200, 200, 200, 1);
  border-left: 1px solid rgba(200, 200, 200, 1);
  font-family: 'Montserrat', sans-serif;
}

.glassCard img {
  width: 30%;
  transition: 100ms;
  border-radius: 50%;
}

.glassCard img:hover {
  width: 32%;
  transition: 100ms;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
  background: none;
}

.glassCard a {
  text-decoration: none;
  color: #84b9e0;
}
