<!DOCTYPE html>

<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
      <video width="320" height="240" controls>

        <source src="{{ file }}" type="video/mp4">
      Your browser does not support the video tag.
      </video>
      <a download href="{{ file }}">new file</a>
    </div>
  </body>
</html>
