<!DOCTYPE html>

<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='client.js') }}"></script>
  </head>
  <body>
    <p hidden id="message"></p>
    <form enctype="multipart/form-data">
      <p>Video file: <input type="file" name="vid" required accept="video/*"></p>
      <p>SRT file: <input type="file" name="srt" required accept=".srt"></p>
      <p><input type="submit" value="Captionize"></p>
    </form>
    <div id="output" hidden>
      <p><a href="" target="_blank">View captionized video</a></p>
      <p><a download href="">Download captionized video</a></p>
    </div>
  </body>
</html>
